# Exercício 12 - Inner Join
#### - Objetivo: Unir os DataFrames de livros e empréstimos usando o método inner join e mostrar apenas os livros que foram emprestados.</br>
#### 1.Carregue os arquivos livros.csv e emprestimos.csv em DataFrames separados.

In [12]:
import pandas as pd

books_df = pd.read_csv("../livros.csv")
books_df

loans_df = pd.read_csv("../emprestimos.csv")
loans_df

    id_emprestimo  id_livro nome_leitor data_emprestimo data_devolucao
0             100        13       Caleb      2024-08-10     2024-10-28
1             101        30     Cynthia      2024-08-25     2024-10-31
2             102        30       Wendy      2024-09-23            NaN
3             103         5     Michael      2024-09-22            NaN
4             104        36    Virginia      2024-08-08     2024-10-31
5             105        41     Gregory      2024-09-24     2024-10-25
6             106        43      Travis      2024-09-16     2024-10-13
7             107         6      Thomas      2024-08-21     2024-10-22
8             108        24       Peggy      2024-08-17     2024-10-15
9             109        21      Martha      2024-08-09     2024-10-28
10            110        12    Mitchell      2024-08-07     2024-10-13
11            111         3        Kent      2024-09-08            NaN
12            112        42        Kari      2024-08-25     2024-10-20
13            113        22     Tiffany      2024-09-09            NaN
14            114         4      Elijah      2024-08-23     2024-10-15
15            115        45  Jacqueline      2024-09-02     2024-10-28
16            116        14    Kathleen      2024-08-11     2024-10-21
17            117        21     Annette      2024-09-05     2024-10-25
18            118        31     Colleen      2024-08-04            NaN
19            119        42      Manuel      2024-08-15            NaN
20            120        16        Lisa      2024-09-25     2024-10-29
21            121        37       Logan      2024-08-13            NaN
22            122        37       Megan      2024-08-07     2024-10-12
23            123         8      Walter      2024-08-15            NaN
24            124        25      Steven      2024-09-05            NaN
25            125        23      Ashley      2024-09-03     2024-10-12
26            126        31    Jennifer      2024-09-28     2024-10-30
27            127        34    Samantha      2024-08-08     2024-10-27
28            128        35     Michael      2024-09-22     2024-10-18
29            129        18   Johnathan      2024-08-10     2024-10-21
30            130        11     Michael      2024-09-14     2024-10-18
31            131        17      Tracey      2024-09-04     2024-10-17
32            132         4     Rebekah      2024-09-15     2024-10-23
33            133        28   Alexander      2024-09-01     2024-10-15
34            134         1     Stephen      2024-10-01     2024-10-31
35            135         6    Danielle      2024-08-06            NaN
36            136        35     Darrell      2024-09-26     2024-10-31
37            137        45     Richard      2024-09-17     2024-10-21
38            138        16      Thomas      2024-09-08     2024-10-22
39            139         3       Brian      2024-09-07     2024-10-27
40            140         8       Andre      2024-09-11            NaN
41            141        11      Miguel      2024-09-13            NaN
42            142         1      Justin      2024-08-27            NaN
43            143        36        Tina      2024-08-18     2024-10-30
44            144        47     Richard      2024-08-21     2024-10-19
45            145        31       Aaron      2024-09-25     2024-10-19
46            146        32      Lauren      2024-08-13            NaN
47            147        10   Katherine      2024-09-30     2024-10-29
48            148        29        Paul      2024-09-28     2024-10-18
49            149        40     Vanessa      2024-08-14            NaN

#### 2. Realize um inner join entre as tabelas, unindo-as pela coluna id_livro.

In [7]:
df_merged = pd.merge(books_df, loans_df, on='id_livro', how='inner')

#### 3. Exiba o resultado, mostrando as colunas: titulo, autor, nome_leitor, data_emprestimo e data_devolucao.

In [9]:
df_merged[['titulo', 'autor', 'nome_leitor', 'data_emprestimo', 'data_devolucao']]

,titulo,autor,nome_leitor,data_emprestimo,data_devolucao
0,Cracking the Coding Interview,Natalie Hayes,Stephen,2024-10-01,2024-10-31
1,Cracking the Coding Interview,Natalie Hayes,Justin,2024-08-27,NaN
2,You Don’t Know JS,Ronald Forbes,Kent,2024-09-08,NaN
3,You Don’t Know JS,Ronald Forbes,Brian,2024-09-07,2024-10-27
4,Effective Java,Laurie Fisher,Elijah,2024-08-23,2024-10-15
5,Effective Java,Laurie Fisher,Rebekah,2024-09-15,2024-10-23
6,Introduction to Algorithms,Carl Carson II,Michael,2024-09-22,NaN
7,The Mythical Man-Month,Sarah Peterson,Thomas,2024-08-21,2024-10-22
8,The Mythical Man-Month,Sarah Peterson,Danielle,2024-08-06,NaN
9,The Mythical Man-Month,Kenneth Velez,Walter,2024-08-15,NaN
10,The Mythical Man-Month,Kenneth Velez,Andre,2024-09-11,NaN
11,Introduction to Algorithms,Tracy Branch,Katherine,2024-09-30,2024-10-29
12,Cracking the Coding Interview,Michael Reynolds,Michael,2024-09-14,2024-10-18
13,Cracking the Coding Interview,Michael Reynolds,Miguel,2024-09-13,NaN
14,Code Complete,Francis Bonilla,Mitchell,2024-08-07,2024-10-13
15,Code Complete,William Medina,Caleb,2024-08-10,2024-10-28
16,Code Complete,Vanessa Porter,Kathleen,2024-08-11,2024-10-21
17,The Mythical Man-Month,James Black,Lisa,2024-09-25,2024-10-29
18,The Mythical Man-Month,James Black,Thomas,2024-09-08,2024-10-22
19,Code Complete,Brianna Rose,Tracey,2024-09-04,2024-10-17
20,The Pragmatic Programmer,Amy Davis,Johnathan,2024-08-10,2024-10-21
21,Design Patterns,Albert Simmons,Martha,2024-08-09,2024-10-28
22,Design Patterns,Albert Simmons,Annette,2024-09-05,2024-10-25
23,Code Complete,Daniel Torres,Tiffany,2024-09-09,NaN
24,Design Patterns,Billy Brewer,Ashley,2024-09-03,2024-10-12
25,Clean Code,Amanda Russell,Peggy,2024-08-17,2024-10-15
26,You Don’t Know JS,Kyle Graham,Steven,2024-09-05,NaN
27,Introduction to Algorithms,Kevin Francis,Alexander,2024-09-01,2024-10-15
28,The Pragmatic Programmer,Thomas Jackson,Paul,2024-09-28,2024-10-18
29,Design Patterns,Kristina Wilkinson,Cynthia,2024-08-25,2024-10-31
30,Design Patterns,Kristina Wilkinson,Wendy,2024-09-23,NaN
31,The Pragmatic Programmer,Suzanne Romero,Colleen,2024-08-04,NaN
32,The Pragmatic Programmer,Suzanne Romero,Jennifer,2024-09-28,2024-10-30
33,The Pragmatic Programmer,Suzanne Romero,Aaron,2024-09-25,2024-10-19
34,Refactoring,Sean Carroll,Lauren,2024-08-13,NaN
35,Code Complete,Juan Lewis,Samantha,2024-08-08,2024-10-27
36,Design Patterns,Melissa French,Michael,2024-09-22,2024-10-18
37,Design Patterns,Melissa French,Darrell,2024-09-26,2024-10-31
38,Head First Design Patterns,Alan Smith,Virginia,2024-08-08,2024-10-31
39,Head First Design Patterns,Alan Smith,Tina,2024-08-18,2024-10-30
40,Refactoring,Kimberly Webb,Logan,2024-08-13,NaN
41,Refactoring,Kimberly Webb,Megan,2024-08-07,2024-10-12
42,The Mythical Man-Month,Dalton Meadows,Vanessa,2024-08-14,NaN
43,Cracking the Coding Interview,Thomas Mcdaniel,Gregory,2024-09-24,2024-10-25
44,The Pragmatic Programmer,Amy Berg,Kari,2024-08-25,2024-10-20
45,The Pragmatic Programmer,Amy Berg,Manuel,2024-08-15,NaN
46,Cracking the Coding Interview,Christopher Patton,Travis,2024-09-16,2024-10-13
47,Design Patterns,Robert Rice,Jacqueline,2024-09-02,2024-10-28
48,Design Patterns,Robert Rice,Richard,2024-09-17,2024-10-21
49,Design Patterns,Steven Lyons,Richard,2024-08-21,2024-10-19