# Exercício 09

✦ Use 3 dataframes criados na aula anterior, mostre
apenas o filme/série/anime com maior pontuação.</br>
✦ Leia o arquivo do dataset em json.</br>
✦ Selecione apenas as 3 primeiras colunas do dataset</br>
✦ Selecione apenas as 10 primeiras linhas do dataset

In [46]:
import pandas as pd

movies_df = pd.read_json("../aula_03-04/movies.json")
movies_df

                                 Filmes  Ano Lançamento  Nota
0                     Esquadrão Suicida            2021   4.5
1  Homem-Aranha: Através do Aranhaverso            2023   5.0
2                            The Batman            2022   5.0
3                           Hereditário            2018   4.0
4        Gato de Botas: O último desejo            2022   4.5

In [6]:
import pandas as pd

series_df = pd.read_json("../aula_03-04/animes.json")
series_df

             Séries  Ano de Lançamento  Notas
0  Better Call Saul               2015    5.0
1      Breaking Bad               2008    5.0
2  The Walking Dead               2010    3.5
3        The Office               2005    4.5
4          The Boys               2019    4.0

In [7]:
import pandas as pd

animes_df = pd.read_json("../aula_03-04/animes.json")
animes_df

                       Animes  Ano de Lançamento  Notas
0  Jojo's Bizzarre Adventures               2012    5.0
1              Jujutsu Kaisen               2020    4.0
2             Attack on Titan               2013    4.5
3                      Dororo               2019    4.5
4               One Punch Man               2015    4.5

In [49]:
result = pd.concat([movies_df, series_df, animes_df], axis=1)
result.max()

Filmes                     The Batman
Ano Lançamento                   2023
Nota                              5.0
Séries               The Walking Dead
Ano de Lançamento                2019
Notas                             5.0
Animes                  One Punch Man
Ano de Lançamento                2020
Notas                             5.0
dtype: object