# Exercício 09

✦ Use 3 dataframes criados na aula anterior, mostre
apenas o filme/série/anime com maior pontuação.</br>

In [115]:
import pandas as pd

movies_df = pd.read_json("../aula_03-04/movies.json")
movies_df

series_df = pd.read_json("../aula_03-04/series.json")
series_df

animes_df = pd.read_json("../aula_03-04/animes.json")
animes_df

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

                       Animes  Ano de Lançamento  Notas
0  Jojo's Bizzarre Adventures               2012    5.0
1              Jujutsu Kaisen               2020    4.0
2             Attack on Titan               2013    4.5
3                      Dororo               2019    4.5
4               One Punch Man               2015    4.5

In [116]:
result = pd.concat([movies_df, series_df, animes_df], axis=1)
result["Notas"].max()

Notas    5.0
Notas    5.0
Notas    5.0
dtype: float64

✦ Leia o arquivo do dataset em json.</br>
✦ Selecione apenas as 3 primeiras colunas do dataset</br>
✦ Selecione apenas as 10 primeiras linhas do dataset

In [117]:
result.iloc[:, :3]

                                 Filmes  Ano Lançamento  Notas
0                     Esquadrão Suicida            2021    4.5
1  Homem-Aranha: Através do Aranhaverso            2023    5.0
2                            The Batman            2022    5.0
3                           Hereditário            2018    4.0
4        Gato de Botas: O último desejo            2022    4.5

In [118]:
result.head(10)

,Filmes,Ano Lançamento,Notas,Séries,Ano de Lançamento,Notas,Animes,Ano de Lançamento,Notas
0,Esquadrão Suicida,2021,4.5,Better Call Saul,2015,5.0,Jojo's Bizzarre Adventures,2012,5.0
1,Homem-Aranha: Através do Aranhaverso,2023,5.0,Breaking Bad,2008,5.0,Jujutsu Kaisen,2020,4.0
2,The Batman,2022,5.0,The Walking Dead,2010,3.5,Attack on Titan,2013,4.5
3,Hereditário,2018,4.0,The Office,2005,4.5,Dororo,2019,4.5
4,Gato de Botas: O último desejo,2022,4.5,The Boys,2019,4.0,One Punch Man,2015,4.5

✦ Filtre o dataframe pegando apenas as linhas com
valores maiores que essa média.
✦ Escolha uma coluna com valores textuais e filtre o dataframe pelo 1o valor
✦ Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [ ]:
result["Notas"].mean()