# Exercício 09

✦ Use 3 dataframes criados na aula anterior, mostre
apenas o filme/série/anime com maior pontuação.</br>

In [15]:
import pandas as pd

movies_df = pd.read_json("../aula_03-04/movies.json")
movies_df

series_df = pd.read_json("../aula_03-04/series.json")
series_df

animes_df = pd.read_json("../aula_03-04/animes.json")
animes_df

                       Animes  Ano de Lançamento  Notas
0  Jojo's Bizzarre Adventures               2012    5.0
1              Jujutsu Kaisen               2020    4.0
2             Attack on Titan               2013    4.5
3                      Dororo               2019    4.5
4               One Punch Man               2015    4.5

In [23]:
import pandas as pd

result = pd.concat([movies_df, series_df, animes_df], axis=0)
result
max_notes = result["Notas"].max()
max_notes

np.float64(5.0)

✦ Leia o arquivo do dataset em json.</br>
✦ Selecione apenas as 3 primeiras colunas do dataset</br>
✦ Selecione apenas as 10 primeiras linhas do dataset

In [17]:
result.iloc[:, :3]

                                 Filmes  Ano de Lançamento  Notas
0                     Esquadrão Suicida               2021    4.5
1  Homem-Aranha: Através do Aranhaverso               2023    5.0
2                            The Batman               2022    5.0
3                           Hereditário               2018    4.0
4        Gato de Botas: O último desejo               2022    4.5

In [18]:
result.head(10)

,Filmes,Ano de Lançamento,Notas,Séries,Ano de Lançamento,Notas,Animes,Ano de Lançamento,Notas
0,Esquadrão Suicida,2021,4.5,Better Call Saul,2015,5.0,Jojo's Bizzarre Adventures,2012,5.0
1,Homem-Aranha: Através do Aranhaverso,2023,5.0,Breaking Bad,2008,5.0,Jujutsu Kaisen,2020,4.0
2,The Batman,2022,5.0,The Walking Dead,2010,3.5,Attack on Titan,2013,4.5
3,Hereditário,2018,4.0,The Office,2005,4.5,Dororo,2019,4.5
4,Gato de Botas: O último desejo,2022,4.5,The Boys,2019,4.0,One Punch Man,2015,4.5

✦ Filtre o dataframe pegando apenas as linhas com
valores maiores que essa média.</br>
✦ Escolha uma coluna com valores textuais e filtre o dataframe pelo 1o valor</br>
✦ Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [24]:
media = result["Notas"].mean()

result[result["Notas" ] > media]

,Filmes,Ano de Lançamento,Notas,Séries,Animes
1,Homem-Aranha: Através do Aranhaverso,2023,5.0,NaN,NaN
2,The Batman,2022,5.0,NaN,NaN
0,NaN,2015,5.0,Better Call Saul,NaN
1,NaN,2008,5.0,Breaking Bad,NaN
0,NaN,2012,5.0,NaN,Jojo's Bizzarre Adventures

In [25]:
result.loc[result["Filmes"] == "Esquadrão Suicida"]

              Filmes  Ano de Lançamento  Notas Séries Animes
0  Esquadrão Suicida               2021    4.5    NaN    NaN

In [26]:
result.sort_values(by=["Ano de Lançamento"], ascending=False, na_position="first")

,Filmes,Ano de Lançamento,Notas,Séries,Animes
1,Homem-Aranha: Através do Aranhaverso,2023,5.0,NaN,NaN
2,The Batman,2022,5.0,NaN,NaN
4,Gato de Botas: O último desejo,2022,4.5,NaN,NaN
0,Esquadrão Suicida,2021,4.5,NaN,NaN
1,NaN,2020,4.0,NaN,Jujutsu Kaisen
4,NaN,2019,4.0,The Boys,NaN
3,NaN,2019,4.5,NaN,Dororo
3,Hereditário,2018,4.0,NaN,NaN
0,NaN,2015,5.0,Better Call Saul,NaN
4,NaN,2015,4.5,NaN,One Punch Man
2,NaN,2013,4.5,NaN,Attack on Titan
0,NaN,2012,5.0,NaN,Jojo's Bizzarre Adventures
2,NaN,2010,3.5,The Walking Dead,NaN
1,NaN,2008,5.0,Breaking Bad,NaN
3,NaN,2005,4.5,The Office,NaN

In [27]:
result.sort_values(by=["Ano de Lançamento"], ascending=True, na_position="first")

,Filmes,Ano de Lançamento,Notas,Séries,Animes
3,NaN,2005,4.5,The Office,NaN
1,NaN,2008,5.0,Breaking Bad,NaN
2,NaN,2010,3.5,The Walking Dead,NaN
0,NaN,2012,5.0,NaN,Jojo's Bizzarre Adventures
2,NaN,2013,4.5,NaN,Attack on Titan
4,NaN,2015,4.5,NaN,One Punch Man
0,NaN,2015,5.0,Better Call Saul,NaN
3,Hereditário,2018,4.0,NaN,NaN
3,NaN,2019,4.5,NaN,Dororo
4,NaN,2019,4.0,The Boys,NaN
1,NaN,2020,4.0,NaN,Jujutsu Kaisen
0,Esquadrão Suicida,2021,4.5,NaN,NaN
2,The Batman,2022,5.0,NaN,NaN
4,Gato de Botas: O último desejo,2022,4.5,NaN,NaN
1,Homem-Aranha: Através do Aranhaverso,2023,5.0,NaN,NaN