# Exercício 16
#### Considere o dataset 16_dataset_notas_alunos.csv (ver nos recursos da aula no Discord). Então, extraia as seguintes informações:

In [11]:
import pandas as pd

students_notes = pd.read_csv("../16_dataset_notas_alunos.csv")
students_notes

    Aluno  Idade  Matemática  Ciências
0       1     17          67        60
1       2     15          83        78
2       3     17          70        61
3       4     17          76        85
4       5     15          67        91
..    ...    ...         ...       ...
95     96     15          87        71
96     97     15          82        81
97     98     17          96        81
98     99     15          91        89
99    100     15          92        97

[100 rows x 4 columns]

#### 1. Calcule a média das notas em Matemática e Ciências.

In [27]:
math_media = students_notes['Matemática'].mean()
science_media = students_notes['Ciências'].mean()

print(f"A média de matemática é {math_media}\nA média de ciências é {science_media}")

A média de matemática é 81.57
A média de ciências é 80.26

#### 2. Encontre a mediana das notas em Matemática e Ciências.

In [26]:
math_median = students_notes['Matemática'].median()
science_median = students_notes['Ciências'].median()

print(f"A mediana de matemática é {math_median}\nA mediana de ciências é {science_median}")

A mediana de matemática é 84.5
A mediana de ciências é 79.5

#### 3. Determine a moda das notas em Matemática e Ciências.

In [33]:
math_science_mode = students_notes[['Matemática', 'Ciências']].mode()

print(f"{math_science_mode}")

0    98
Name: Matemática, dtype: int64

#### 4. Calcule a amplitude das notas em Matemática e Ciências.

In [16]:
math_amplitude = students_notes['Matemática'].max() - students_notes['Matemática'].min()
science_amplitude = students_notes['Ciências'].max() - students_notes['Ciências'].min()

print(f"A amplitude de matemática é {math_amplitude}\nA amplitude de ciências é {science_amplitude}")

A amplitude de matemática é 40
A amplitude de ciências é 40

#### 5. Calcule a variância das notas em Matemática e Ciências.

In [17]:
math_variance = students_notes['Matemática'].var()
science_variance = students_notes['Ciências'].var()

print(f"A variância de matemática é {math_variance}\nA variância de ciência é {science_variance}")

A variância de matemática é 160.75262626262628
A variância de ciência é 150.1539393939394

#### 6. Calcule o desvio padrão das notas em Matemática e Ciências.

In [18]:
math_std = students_notes['Matemática'].std()
science_std = students_notes['Ciências'].std()

print(f"O desvio padrão de matemática é {math_std}\nO desvio padrão de ciências é {science_std}")

O desvio padrão de matemática é 12.678825902370704
O desvio padrão de ciências é 12.253731651784259

#### 7. Calcule a covariância entre as notas de Matemática e Ciências.

In [22]:
math_science_covariance = students_notes[['Matemática', 'Ciências']].cov().iloc[0, 1]

print(f"A covariância de matemática e ciências é {math_science_covariance}")

A covariância de matemática e ciências é 9.133131313131308

#### 8. Calcule a correlação entre as notas de Matemática e Ciências.

In [25]:
math_science_correlation = students_notes[['Matemática', 'Ciências']].corr().iloc[0, 1]

print(f"A correlação entre matemática e ciências é {math_science_correlation}")

A correlação entre matemática e ciências é 0.058785781765414935