# Exercício 18 (MINI BOSS): Análise de Desempenho Escolar

#### Você é um cientista de dados contratado por uma escola para analisar o desempenho de três turmas (Turma A, Turma B, Turma C) em duas disci plinas: Matemática e Ciências.
#### O objetivo é gerar um relatório completo utilizando as medidas estatísticas estudadas para entender o desempenho geral dos alunos e descobrir padrões importantes.
#### Tarefas:

#### 1. Carregar o dataset que contém as notas dos alunos das três turmas. O arquivo chama 18_analise_avancada.csv.

In [6]:
import pandas as pd

students_notes = pd.read_csv("../18_analise_avancada.csv")
students_notes

   Turma  Matemática  Ciências
0      C          83        96
1      A          47        91
2      C          63        52
3      C          50        80
4      A          90        42
..   ...         ...       ...
95     A          78        79
96     A          72        78
97     C          40        57
98     A          96        79
99     A          66        40

[100 rows x 3 columns]

#### 2. Calcular as seguintes medidas estatísticas para cada turma (A, B e C) em Matemática e Ciências:
#### a. Média

In [66]:
df_media = students_notes.groupby(['Turma']).mean()

df_media

       Matemática   Ciências
Turma
A       69.515152  70.393939
B       70.888889  71.555556
C       68.741935  67.580645

#### b. Mediana

In [69]:
df_median = students_notes.groupby(['Turma']).median()
print(f"A mediana das turmas em Matemática e Ciências é:\n"
      f"{df_median}")

A mediana das turmas em Matemática e Ciências é:
       Matemática  Ciências
Turma
A            68.0      72.0
B            71.0      72.0
C            74.0      67.0