# Exercício 7

## 1. Crie uma lista com 5 nomes de filmes que você goste;
## 2. Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo);
## 3. Tranforme isso em um dataframe;
## 4. Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [ ]:
import pandas as pd

movies = ["Esquadrão Suicida", "Homem-Aranha: Através do Aranhaverso", "The Batman", "Hereditário", "Gato de Botas: O último desejo"]
movies_launch_year = [2021, 2023, 2022, 2018, 2022]

movies_serie = pd.Series(movies)
year_serie = pd.Series(movies_launch_year)

pd.DataFrame({"Filmes": movies_serie, "Ano Lançamento": year_serie, "Nota": [4.5, 5, 5, 4, 4.5]})
##notas de 1 a 5

## 5. Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas
## colunas acima.
## 6. Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos*.
## 7. Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final. (Fazer em dupla)

In [33]:
import pandas as pd

tv_series = ["Better Call Saul", "Breaking Bad", "The Walking Dead", "The Office", "The Boys"]

tv_series_serie = pd.Series(tv_series)

series_df = pd.DataFrame({"Séries": tv_series_serie, "Ano de Lançamento": [2015, 2008, 2010, 2005, 2019], "Notas": [5, 5, 3.5, 4.5, 4]})

series_df

             Séries  Ano de Lançamento  Notas
0  Better Call Saul               2015    5.0
1      Breaking Bad               2008    5.0
2  The Walking Dead               2010    3.5
3        The Office               2005    4.5
4          The Boys               2019    4.0

In [32]:
import pandas as pd

animes = ["Jojo's Bizzarre Adventures", "Jujutsu Kaisen", "Attack on Titan", "Dororo", "One Punch Man"]

animes_serie = pd.Series(animes)
animes_df = pd.DataFrame({"Animes": animes_serie, "Ano de Lançamento": [2012, 2020, 2013, 2019, 2015], "Notas": [5, 4, 4.5, 4.5, 4.5]})

animes_df

                       Animes
0  Jojo's Bizzarre Adventures
1              Jujutsu Kaisen
2             Attack on Titan
3                      Dororo
4               One Punch Man