# Exercício 08 – miniBoss – Coop –
✦ Leia o arquivo do datase em csv;</br>
✦ Visualize as primeiras linhas do dataset;

In [35]:
import pandas as pd

series_df = pd.read_json('../aula_03-04/series.json')
movies_df = pd.read_json('../aula_03-04/movies.json')
animes_df = pd.read_json('../aula_03-04/animes.json')

df_merged = pd.concat([series_df, movies_df, animes_df])
df_merged.head()

             Séries  Ano de Lançamento  Notas Filmes  Nota Animes
0  Better Call Saul               2015    5.0    NaN   NaN    NaN
1      Breaking Bad               2008    5.0    NaN   NaN    NaN
2  The Walking Dead               2010    3.5    NaN   NaN    NaN
3        The Office               2005    4.5    NaN   NaN    NaN
4          The Boys               2019    4.0    NaN   NaN    NaN

✦ Visualize informações básicas do dataset, 
como: nomes das colunas, número de 
linhas, número de campos nulos, etc;

In [22]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Séries             5 non-null      object
 1   Ano de Lançamento  15 non-null     int64
 2   Notas              10 non-null     float64
 3   Filmes             5 non-null      object
 4   Nota               5 non-null      float64
 5   Animes             5 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 840.0+ bytes

In [23]:
df_merged.isna().sum()

Séries               10
Ano de Lançamento     0
Notas                 5
Filmes               10
Nota                 10
Animes               10
dtype: int64

✦ Visualize informações sobre os campos numéricos do dataset, como: média, 
valor minimo e maximo, etc;

In [25]:
df_merged['Notas'].mean()

np.float64(4.45)

In [26]:
df_merged['Notas'].min()

np.float64(3.5)

In [27]:
df_merged['Notas'].max()

np.float64(5.0)

✦ Remova informações nulas;

In [30]:
df_merged.dropna()

Empty DataFrame
Columns: [Séries, Ano de Lançamento, Notas, Filmes, Nota, Animes]
Index: []

✦ Verifique se existem dados duplicados;</br>
✦ Remova informações duplicadas;

In [31]:
df_merged.duplicated().sum()

np.int64(0)

In [33]:
df_merged = df_merged.drop_duplicates()
df_merged

,Séries,Ano de Lançamento,Notas,Filmes,Nota,Animes
0,Better Call Saul,2015,5.0,NaN,NaN,NaN
1,Breaking Bad,2008,5.0,NaN,NaN,NaN
2,The Walking Dead,2010,3.5,NaN,NaN,NaN
3,The Office,2005,4.5,NaN,NaN,NaN
4,The Boys,2019,4.0,NaN,NaN,NaN
0,NaN,2021,NaN,Esquadrão Suicida,4.5,NaN
1,NaN,2023,NaN,Homem-Aranha: Através do Aranhaverso,5.0,NaN
2,NaN,2022,NaN,The Batman,5.0,NaN
3,NaN,2018,NaN,Hereditário,4.0,NaN
4,NaN,2022,NaN,Gato de Botas: O último desejo,4.5,NaN
0,NaN,2012,5.0,NaN,NaN,Jojo's Bizzarre Adventures
1,NaN,2020,4.0,NaN,NaN,Jujutsu Kaisen
2,NaN,2013,4.5,NaN,NaN,Attack on Titan
3,NaN,2019,4.5,NaN,NaN,Dororo
4,NaN,2015,4.5,NaN,NaN,One Punch Man